<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mmmmeeting">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="우리 지금 만나"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGHEER3zfPOuW0-yj2kw609KTERmsCnfw" />

        <activity android:name=".activity.MeetingDeleteActivity"/>
        <activity android:name=".activity.MeetingAttendActivity" />
        <activity android:name=".activity.SignActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BasicActivity" />
        <activity android:name=".activity.EachMeetingActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.MakeMeetingActivity" />
        <activity android:name=".activity.MeetingGridActivity" />
        <activity android:name=".activity.WritePostActivity" />
        <activity android:name=".activity.MemberInitActivity" />
        <activity android:name=".activity.MapPlaceActivity"/>

    </application>


</manifest>